* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional but recommended */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles here */
.display-flex{
    display: flex;
}

:root{
   --primary-color: #3A3A3A;

}

.inline-text {
  white-space: nowrap;
}

 /* navbar design start here */

 .nav-bar{
    gap: 490px;
    margin-top: 87px;
 }
 .brand-name{
   color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 5px;
    max-width: 243px;
    max-height: 52px;
    margin-left: 120px;
 }

 .nav-link{
   color: var(--primary-color);
    max-width: 500px;
    max-height: 36px;
    gap: 34px;
    margin-right: 120px;
 }
 .nav-items{
    list-style: none;
    
}

.nav-links {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.nav-links img {
 height: 36px;
 width: 36px;

}

/* Banner design start here */
.banner-image img{
   background-image: url(../images/Circle\ design.svg);
}

.banner{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 133px;
   margin-left: 120px;  
}
.banner-content{
   max-width: 582px;
   max-height: 270px;
   margin-top: 145.8px;
   
}
.banner-title{
   max-width: 582px;
   max-height: 133px;
   font-size: 3.25rem;
   font-weight: 700;
   line-height: 70px;
   color: var(--primary-color);
   margin: 0 auto;
}

.banner-description{
   max-width: 505px;
   max-height: 60.9px;
   color: var(--primary-color);
   font-size: 1rem;
   font-weight: 600;
   padding-bottom: 5px;
   margin-top: 16px;
}

.banner-btn{
   width: 196;
   height: 44;
   background-color: #E02C6D;
   border: none;
   border-radius: 41px;
}
.banner-btn-text{
   width: 116;
   height: 24;
   font-size: 1rem;
   font-weight: 700;
   color: #FFFFFF;
   margin: 10px 20px;
}

.banner-image img {
   width: 475px;
   height: 475px;
   margin-top: 50px;
}

/* Sponsors logos development start here */

.sponsor{
   max-width: 1110px;
   max-height: 110px;
   margin: 0 auto;
   margin-top: 69px;
   margin-bottom: 100px;
   padding: 36px 60px;
   border-top: 1px solid rgb(244, 238, 238);
   border-bottom: 1px solid rgb(244, 238, 238);
}
.sponsor-container{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   max-width: 986.47px;
   max-height: 39.61px;
   margin: 0 auto;
   
}
 /* Popular Section design Start Here */

 .popular{
   max-width: 1047px;
   max-height: 1662px;
   margin: 0 auto;
   margin-bottom: 100px;

 }
.popular-heading{
   width: 111px;
   height: 70px;
   margin: 0 auto;
   margin-bottom: 30px;
   
}

.popular-title{
   font-size: 1.75rem;
   font-weight: 600;
   line-height: 70px;
   color: #3A3A3A;
}

.card-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   align-content: space-between;
   
}
 .card{
   max-width: 329px;
   max-height: 476px;
   border-radius: 5px;
   padding-top: 17px;
   padding-left: 15px;
   padding-right: 15px;
   gap: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
 }
.card .card-image img {
   max-width: 300px;
   max-height: 256px;
   padding-bottom: 16px;
   margin: 0 auto;
}
.card-title{
   max-width: 151px;
   max-height: 40px;
   padding-bottom: 5px;
   font-size: 1.75rem;
   font-weight: 500;
   color: #18191F;
}

.card-price{
   max-width: 82px;
   max-height: 36px;
   margin-bottom: 5px;
   font-size: 1.5rem;
   font-weight: 400;
   color: rgba(0, 0, 0, 0.87);
}
.card-rating{
   max-width: 29px;
   max-height: 22px;
   font-size: 0.87rem;
   font-weight: 700;
   line-height: 22px;
   color: rgba(94, 99, 102, 1);
}
.card-details{
   max-width: 196px;
   max-height: 61px;
   font-size: 0.87rem;
   font-weight: 700;
   color: #787885;
   line-height: 143%;
   letter-spacing: 1.8%;
   margin-bottom: 17px;
}
.card-btn {
 width: 99px;
 height: 24px;
 font-size: 1rem;
 font-weight: 700;
 color: rgba(224, 44, 109, 0.87);
 border: none;
}

/* Feature Section Design start here */
.feature-section{
   max-width: 1110px;
   max-height: 270px;
   display: flex;
   align-items: center;
   margin: 0 auto;
   gap: 96px;
   margin-bottom: 100px;
}

.feature-container {
   max-width: 404px;
   max-height: 270px;
}
.feature-text{
   max-width: 610px;
   max-height: 224px;
}
.feature-text h2{
   max-width: 610px;
   max-height: 60px;
   font-size: 2.37rem;
   font-weight: 700;
   color: #0A0826;
}


.feature-text p{
   max-width: 500px;
   max-height: 88px;
   font-size: 1rem;
   font-weight: 700;
   line-height: 28px;
   color: #6C6C6C;
}

footer{
   background-color: #0A0826;
   color: aliceblue;
   text-align: center;
   padding: 50px 68px;
}

footer h1{
   font-size: 1.3rem;
   font-weight: 700;
   padding-bottom: 5px;
}

footer .footer-text1, .footer-text2{
   font-size: 0.75rem;
   font-weight: 700;
   padding-bottom: 5px;
}
.footer-icon{
   max-width: 176;
   max-height: 32;
   display: flex;
   justify-content: center;
   gap: 16px;
   align-items: center;
   margin-top: 10px;
   
}

.footer-icon img{
   width: 32px;
   height: 32px;
   filter: brightness(0) invert(1);
}
   




/* Responsive Design for Mobile Devices */
@media screen and (max-width: 576px) {
   .nav-bar {
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
   }
  
   .nav-link{
      max-width: 100%;
      margin-right: 0px;
      padding-left: 0px;
      gap: 10px;  
      margin: 0 auto;
   }
   .banner, .card-container {
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      height: 100%;
      margin: 0 auto;
   }

   .banner-content{
      max-width: 100%;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 80px;
      order: 2;
   }
   .banner-title {
      max-width: 100%;
      margin-top: 0px;
      margin-bottom: 90px;

   }
   .banner-description {
      max-width: 100%;
   }
  .banner-image img{
      max-width: 100%;
      margin-top: 50px;
      margin-bottom: 0px;
      order: 1;
  }
   .sponsor{
      width: 100%;
      height: 100%;
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 0px;
      
      
     
   }
  .sponsor-container{
   width: 100%;
   height: 100%;
   grid-template-columns: repeat(4, 1fr);
   gap: 5px;
   margin: 0 auto;
   align-items: center;
   align-content: center;  
  }

  .card, .feature-btn-text {
  margin: 0 auto;
  }
  .feature-container{
   margin: 0 auto;
  }
  .feature-section{
   flex-direction: column-reverse;
   text-align: center;
   margin-top: 3100px;
   
  }
  .feature-text h2, .feature-details {
   padding-bottom: 100px;
  }
 
  
}