
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles here */
.display-flex{
    display: flex;
}

:root{
   --primary-color: #3A3A3A;

}

 /* navbar design start here */

 .nav-bar{
    gap: 490px;
    margin-top: 87px;
 }
 .brand-name{
   color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 5px;
    max-width: 243px;
    max-height: 52px;
    margin-left: 120px;
 }

 .nav-link{
   color: var(--primary-color);
    max-width: 500px;
    max-height: 36px;
    gap: 34px;
    margin-right: 120px;
 }
 .nav-items{
    list-style: none;
    
}

.nav-links {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.nav-links img {
 height: 36px;
 width: 36px;

}

/* Banner design start here */
.banner-image img{
   background-image: url(../images/Circle\ design.svg);
}

.banner{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 133px;
   margin-left: 120px;  
}
.banner-content{
   max-width: 582px;
   max-height: 270px;
   margin-top: 145.8px;
   
}
.banner-title{
   max-width: 582px;
   max-height: 133px;
   font-size: 3.25rem;
   font-weight: 700;
   line-height: 70px;
   color: var(--primary-color);
   margin: 0 auto;
}

.banner-description{
   max-width: 505px;
   max-height: 60.9px;
   color: var(--primary-color);
   font-size: 1rem;
   font-weight: 600;
   padding-bottom: 5px;
   margin-top: 16px;
}

.banner-btn{
   width: 196;
   height: 44;
   background-color: #E02C6D;
   border: none;
   border-radius: 41px;
}
.banner-btn-text{
   width: 116;
   height: 24;
   font-size: 1rem;
   font-weight: 700;
   color: #FFFFFF;
   margin: 10px 20px;
}

.banner-image img {
   width: 475px;
   height: 475px;
   margin-top: 50px;
}

/* Responsive Design for Mobile Devices */
@media screen and (max-width: 576px) {
   .nav-bar{
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
   }
   .brand-name{
      margin: 0 auto;
   }
   .nav-link{
      max-width: 100%;
      margin-right: 0px;
      padding-left: 0px;
      gap: 10px;  
      margin: 0 auto;
   }
   
}